.banner__titulo {
    color: #fdfdfd;
    font-size: 5.0625rem;
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}