.cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
}


@media screen and (min-width: 0px) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;
    }
}