.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}


@media screen and (min-width: 0px) {
    .pessoas{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .pessoas{
        flex-direction: row;
    }
}