body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

/* css do scroll */
body::-webkit-scrollbar {
    width: 7px;              
}
  
body::-webkit-scrollbar-track {
    background: #e5e5e5;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #8d0606;    
    border-radius: 20px;    
}

  
body::-webkit-scrollbar:active {
    width: 10px;               
}


/* css do botao de scrollar para o início */
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: #8d0606;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
  }
  
  #scrollToTop:hover {
    background: #555;
  }
  