.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    height: 24rem;
    margin-right: 7rem;
    margin-bottom: 5rem;
    width: calc(25% - 5rem);
}

.espacamentoesq{
    margin-left: calc(10%);
}